/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
table, td { 
    border: 1px solid black; 
    border-collapse: collapse;
    padding: 5px;
}

td
{
    width: 40px;
    height: 40px;
    text-align: center;

}

.cellX
{
  color: green;
}
.cellO
{
  color: red;
}
.cell
{
  color: red;
}