<div ng-controller="tictactoeCtrl">
	<p>Want to play Tic Tac Toe !!!</p>
	<p>{{message}}</p>
	<table>
		<tr ng-repeat="rows in tictactoeCols track by $index">
			<td ng-click="clickedInCell($parent.$index, $index)" ng-repeat="cell in rows track by $index" class="cell{{cell}}">
				{{cell}}
			</td>
		</tr>
	</table>

</div>